node-red-plc-simulator/examples/universal-character-dashboard.json
[
  {
    "id": "dashboard-control-tab",
    "label": "🎭 Character Dashboard Controller",
    "disabled": false,
    "info": "Central control for all character dashboards",
    "type": "tab"
  },
  {
    "id": "ui-base-universal",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "customTheme": {
        "name": "AI-Kit Universal",
        "default": "#4B0082",
        "baseColor": "#4B0082",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      }
    },
    "site": {
      "name": "🎭 AI-Kit Character Dashboards",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "character-status-inject",
    "type": "inject",
    "z": "dashboard-control-tab",
    "name": "Character Status Check",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "status_check",
    "payloadType": "str",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "character-identifier"
      ]
    ]
  },
  {
    "id": "character-identifier",
    "type": "function",
    "z": "dashboard-control-tab",
    "name": "🎭 Character Identity System",
    "func": "// Get current character from environment\nconst character = env.get('CHARACTER') || 'unknown';\nconst port = env.get('PORT') || '1881';\nconst timestamp = new Date().toISOString();\n\n// Character profiles with dashboard configurations\nconst characters = {\n    'kyoko': {\n        name: '🔍 Kyoko Kirigiri',\n        title: 'Ultimate Detective',\n        specialty: 'Anomaly Detection & Investigation',\n        color: '#4B0082',\n        port: '1881',\n        description: 'Systematic investigation and evidence analysis'\n    },\n    'byakuya': {\n        name: '💰 Byakuya Togami',\n        title: 'Ultimate Affluent Progeny',\n        specialty: 'Efficiency Optimization & Performance',\n        color: '#FFD700',\n        port: '1882',\n        description: 'Strategic efficiency and process optimization'\n    },\n    'chihiro': {\n        name: '💻 Chihiro Fujisaki',\n        title: 'Ultimate Programmer',\n        specialty: 'Data Processing & Integration',\n        color: '#32CD32',\n        port: '1883',\n        description: 'Advanced data processing and system integration'\n    },\n    'celestia': {\n        name: '👑 Celestia Ludenberg',\n        title: 'Ultimate Gambler',\n        specialty: 'Risk Assessment & Probability Analysis',\n        color: '#8B0000',\n        port: '1884',\n        description: 'Strategic risk assessment and probability calculations'\n    },\n    'sakura': {\n        name: '💪 Sakura Ogami',\n        title: 'Ultimate Martial Artist',\n        specialty: 'System Reliability & Stress Testing',\n        color: '#006400',\n        port: '1885',\n        description: 'Reliability testing and system durability analysis'\n    }\n};\n\nconst currentCharacter = characters[character.toLowerCase()] || {\n    name: '❓ Unknown Character',\n    title: 'Unknown',\n    specialty: 'Standard Processing',\n    color: '#808080',\n    port: port,\n    description: 'Basic industrial monitoring'\n};\n\nmsg.payload = {\n    current_character: currentCharacter,\n    character_id: character.toLowerCase(),\n    timestamp: timestamp,\n    dashboard_url: `http://localhost:${currentCharacter.port}/api/ui`,\n    editor_url: `http://localhost:${currentCharacter.port}`,\n    all_characters: characters,\n    status: 'active'\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 100,
    "wires": [
      [
        "character-debug",
        "ui-character-display"
      ]
    ]
  },
  {
    "id": "character-debug",
    "type": "debug",
    "z": "dashboard-control-tab",
    "name": "Character Info",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 60,
    "wires": []
  },
  {
    "id": "ui-group-character",
    "type": "ui_group",
    "name": "🎭 Current Character",
    "tab": "ui-tab-character",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui-tab-character",
    "type": "ui_tab",
    "name": "Character Info",
    "icon": "fa-user",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-character-display",
    "type": "ui_template",
    "z": "dashboard-control-tab",
    "group": "ui-group-character",
    "name": "Character Profile",
    "order": 1,
    "width": "12",
    "height": "8",
    "format": "<div style=\"background: linear-gradient(135deg, {{msg.payload.current_character.color}}, #2c3e50); color: white; padding: 20px; border-radius: 12px; font-family: Arial, sans-serif; box-shadow: 0 4px 8px rgba(0,0,0,0.3);\">\n    <h1 style=\"margin: 0 0 10px 0; text-align: center;\">{{msg.payload.current_character.name}}</h1>\n    <h3 style=\"margin: 0 0 15px 0; text-align: center; opacity: 0.9;\">{{msg.payload.current_character.title}}</h3>\n    \n    <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; margin: 15px 0;\">\n        <h4 style=\"margin: 0 0 8px 0; color: #FFD700;\">🎯 Industrial Specialty</h4>\n        <p style=\"margin: 0; font-size: 16px;\">{{msg.payload.current_character.specialty}}</p>\n        <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.8;\">{{msg.payload.current_character.description}}</p>\n    </div>\n    \n    <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; margin: 15px 0;\">\n        <h4 style=\"margin: 0 0 8px 0; color: #FFD700;\">🌐 Dashboard Access</h4>\n        <p style=\"margin: 5px 0;\"><strong>Editor:</strong> <a href=\"{{msg.payload.editor_url}}\" target=\"_blank\" style=\"color: #87CEEB;\">{{msg.payload.editor_url}}</a></p>\n        <p style=\"margin: 5px 0;\"><strong>Dashboard:</strong> <a href=\"{{msg.payload.dashboard_url}}\" target=\"_blank\" style=\"color: #87CEEB;\">{{msg.payload.dashboard_url}}</a></p>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 20px; font-size: 12px; opacity: 0.7;\">\n        Active since: {{msg.payload.timestamp | date:'medium'}}\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 680,
    "y": 100,
    "wires": [
      []
    ]
  }
]
