node-red-plc-simulator/scenarios/chihiro/chihiro_default.json
[
  {
    "id": "chihiro_technical_lab",
    "type": "tab",
    "label": "🛠️ Chihiro's Technical Integration Lab",
    "disabled": false,
    "info": "Chihiro Fujisaki's technical integration and innovation workspace for advanced system development"
  },
  {
    "id": "plc_input_simulator",
    "type": "inject",
    "z": "chihiro_technical_lab",
    "name": "💻 System Integration Signals",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 80,
    "wires": [
      ["system_integration_processor"]
    ]
  },
  {
    "id": "system_integration_processor",
    "type": "function",
    "z": "chihiro_technical_lab",
    "name": "🔧 Advanced Integration Algorithm",
    "func": "// Chihiro's Advanced Technical Integration Processor\n// Simulates complex protocol bridging and system integration\n\nconst timestamp = new Date().toISOString();\nconst integrationData = {\n    timestamp: timestamp,\n    character: 'Chihiro Fujisaki',\n    lab: 'Technical Integration',\n    \n    // Protocol Integration Metrics\n    protocols: {\n        modbus: {\n            status: 'active',\n            connections: Math.floor(Math.random() * 10) + 5,\n            throughput: Math.floor(Math.random() * 1000) + 500\n        },\n        ethernet_ip: {\n            status: 'active',\n            connections: Math.floor(Math.random() * 8) + 3,\n            throughput: Math.floor(Math.random() * 800) + 400\n        },\n        opc_ua: {\n            status: 'active',\n            connections: Math.floor(Math.random() * 6) + 2,\n            throughput: Math.floor(Math.random() * 1200) + 600\n        }\n    },\n    \n    // Innovation Metrics\n    innovation: {\n        new_algorithms: Math.floor(Math.random() * 5) + 1,\n        optimization_rate: Math.random() * 0.3 + 0.7,\n        integration_score: Math.random() * 0.4 + 0.6,\n        technical_complexity: Math.random() * 0.5 + 0.5\n    },\n    \n    // System Performance\n    performance: {\n        cpu_usage: Math.random() * 30 + 40,\n        memory_usage: Math.random() * 25 + 35,\n        network_latency: Math.random() * 10 + 5,\n        integration_success: Math.random() * 0.1 + 0.9\n    },\n    \n    // Virtual PLC Data for Integration Testing\n    plc_integration: {\n        register_40001: Math.floor(Math.random() * 1000) + 2000,\n        register_40002: Math.floor(Math.random() * 100) + 50,\n        register_40003: Math.floor(Math.random() * 500) + 750,\n        register_40004: Math.floor(integrationData.innovation.optimization_rate * 100),\n        coil_00001: Math.random() > 0.1,\n        coil_00002: Math.random() > 0.05,\n        coil_00003: Math.random() > 0.2\n    }\n};\n\nmsg.payload = integrationData;\nmsg.topic = 'chihiro/technical_integration';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 80,
    "wires": [
      ["modbus_server", "websocket_output", "integration_dashboard"]
    ]
  },
  {
    "id": "modbus_server",
    "type": "modbus-server",
    "z": "chihiro_technical_lab",
    "name": "🔗 MODBUS Integration Server",
    "logEnabled": true,
    "hostname": "127.0.0.1",
    "serverPort": "5022",
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 10000,
    "holdingBufferSize": 10000,
    "inputBufferSize": 10000,
    "discreteBufferSize": 10000,
    "showErrors": false,
    "x": 650,
    "y": 120,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "websocket_output",
    "type": "websocket out",
    "z": "chihiro_technical_lab",
    "name": "📡 Integration WebSocket",
    "server": "chihiro_ws_server",
    "client": "",
    "x": 650,
    "y": 40,
    "wires": []
  },
  {
    "id": "integration_dashboard",
    "type": "ui_template",
    "z": "chihiro_technical_lab",
    "group": "chihiro_group",
    "name": "🛠️ Technical Integration Dashboard",
    "order": 1,
    "width": 12,
    "height": 8,
    "format": "<div style=\"background: linear-gradient(135deg, #2d5a27, #4a8c3b); color: white; padding: 20px; border-radius: 15px; font-family: 'Courier New', monospace;\">\n    <h2 style=\"text-align: center; color: #a8ff8a; margin-bottom: 20px;\">\n        🛠️ Chihiro's Technical Integration Lab\n    </h2>\n    \n    <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin-bottom: 20px;\">\n        <div style=\"background: rgba(168, 255, 138, 0.1); padding: 15px; border-radius: 10px; border: 2px solid #a8ff8a;\">\n            <h3 style=\"color: #a8ff8a;\">🔗 Protocol Integration</h3>\n            <div>MODBUS: {{msg.payload.protocols.modbus.connections}} connections</div>\n            <div>Ethernet/IP: {{msg.payload.protocols.ethernet_ip.connections}} connections</div>\n            <div>OPC-UA: {{msg.payload.protocols.opc_ua.connections}} connections</div>\n        </div>\n        \n        <div style=\"background: rgba(168, 255, 138, 0.1); padding: 15px; border-radius: 10px; border: 2px solid #a8ff8a;\">\n            <h3 style=\"color: #a8ff8a;\">💡 Innovation Metrics</h3>\n            <div>New Algorithms: {{msg.payload.innovation.new_algorithms}}</div>\n            <div>Optimization: {{(msg.payload.innovation.optimization_rate * 100).toFixed(1)}}%</div>\n            <div>Integration Score: {{(msg.payload.innovation.integration_score * 100).toFixed(1)}}%</div>\n        </div>\n    </div>\n    \n    <div style=\"text-align: center; font-style: italic; color: #a8ff8a;\">\n        \"Let's build something amazing together!\" - Chihiro Fujisaki 💻\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 680,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "chihiro_ws_server",
    "type": "websocket-listener",
    "path": "/chihiro",
    "wholemsg": "false"
  },
  {
    "id": "chihiro_group",
    "type": "ui_group",
    "name": "🛠️ Chihiro's Integration Lab",
    "tab": "chihiro_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "chihiro_tab",
    "type": "ui_tab",
    "name": "🛠️ Technical Integration",
    "icon": "dashboard",
    "order": 3,
    "disabled": false,
    "hidden": false
  }
]
