node-red-plc-simulator/data/byakuya/byakuya-flows.json
[{"id":"de34f579bef85f91","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"simple-demo-tab","type":"tab","label":"Simple Character Demo","disabled":false,"info":"A simple demo showing character-specific processing"},{"id":"inject-start","type":"inject","z":"simple-demo-tab","name":"Click to Test Character","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"Industrial sensor data: temperature=75.2°C, pressure=2.3bar","payloadType":"str","x":180,"y":100,"wires":[["character-function"]]},{"id":"character-function","type":"function","z":"simple-demo-tab","name":"Character Intelligence","func":"// Get the current character from environment\nconst character = env.get('CHARACTER') || 'Unknown';\nconst timestamp = new Date().toISOString();\n\n// Character-specific processing logic\nlet analysis = {};\n\nswitch(character.toLowerCase()) {\n    case 'kyoko':\n        analysis = {\n            character: '🎯 Kyoko Kirigiri',\n            approach: 'Detective Analysis',\n            insight: 'Anomaly detected in temperature readings - investigating pattern',\n            confidence: '95%',\n            action: 'Initiating root cause analysis'\n        };\n        break;\n        \n    case 'byakuya':\n        analysis = {\n            character: '💰 Byakuya Togami',\n            approach: 'Efficiency Optimization',\n            insight: 'Process efficiency at 87% - optimization opportunities identified',\n            roi: '+23% potential improvement',\n            action: 'Implementing strategic efficiency protocols'\n        };\n        break;\n        \n    case 'chihiro':\n        analysis = {\n            character: '💻 Chihiro Fujisaki',\n            approach: 'Data Processing',\n            insight: 'Complex data patterns normalized and integrated successfully',\n            algorithms: 'Advanced ML processing applied',\n            action: 'Optimizing data pipeline architecture'\n        };\n        break;\n        \n    case 'celestia':\n        analysis = {\n            character: '👑 Celestia Ludenberg',\n            approach: 'Risk Assessment',\n            insight: 'Risk probability calculated at 34% - mitigation strategies prepared',\n            strategy: 'Adaptive response protocols',\n            action: 'Implementing probabilistic controls'\n        };\n        break;\n        \n    case 'sakura':\n        analysis = {\n            character: '💪 Sakura Ogami',\n            approach: 'Reliability Testing',\n            insight: 'System durability verified - 99.9% uptime target maintained',\n            strength: 'High stress tolerance confirmed',\n            action: 'Continuous reliability monitoring active'\n        };\n        break;\n        \n    default:\n        analysis = {\n            character: '❓ Unknown Character',\n            approach: 'Standard Processing',\n            insight: 'Basic industrial data processing completed',\n            status: 'Operational',\n            action: 'Standard monitoring protocols'\n        };\n}\n\nmsg.payload = {\n    original_data: msg.payload,\n    timestamp: timestamp,\n    processed_by: analysis.character,\n    analysis: analysis\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["character-output","dashboard-display"]]},{"id":"character-output","type":"debug","z":"simple-demo-tab","name":"Character Analysis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"dashboard-display","type":"template","z":"simple-demo-tab","name":"Character Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; margin: 10px; font-family: Arial, sans-serif;\">\n    <h2>{{payload.analysis.character}} Industrial Analysis</h2>\n    <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; margin: 10px 0;\">\n        <h3>📊 {{payload.analysis.approach}}</h3>\n        <p><strong>Insight:</strong> {{payload.analysis.insight}}</p>\n        <p><strong>Action:</strong> {{payload.analysis.action}}</p>\n        <p><strong>Timestamp:</strong> {{payload.timestamp}}</p>\n    </div>\n    <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 5px; font-size: 12px;\">\n        <strong>Original Data:</strong> {{payload.original_data}}\n    </div>\n</div>","output":"str","x":660,"y":120,"wires":[["html-output"]]},{"id":"html-output","type":"debug","z":"simple-demo-tab","name":"Dashboard HTML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"auto-timer","type":"inject","z":"simple-demo-tab","name":"Auto Test (every 60s)","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Automated industrial monitoring data","payloadType":"str","x":190,"y":140,"wires":[["character-function"]]}]