node-red-plc-simulator/data/kyoko/kyoko-flows.json
[{"id":"14f3896c871fcbf8","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"simple-demo-tab","type":"tab","label":"Simple Character Demo","disabled":false,"info":"A simple demo showing character-specific processing"},{"id":"kyoko-dashboard-tab","type":"tab","label":"🔍 Kyoko's Detective Dashboard","disabled":false,"info":"Kyoko Kirigiri's Industrial Detective Analysis Dashboard"},{"id":"kyoko-ui-base","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Kyoko Detective","default":"#4B0082","baseColor":"#4B0082","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#4B0082","value":"#4B0082","edited":false},"page-titlebar-backgroundColor":{"value":"#4B0082","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"🔍 Kyoko's Detective Lab","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"kyoko-ui-tab","type":"ui_tab","name":"Detective Lab","icon":"fa-search","order":1,"disabled":false,"hidden":false},{"id":"kyoko-ui-group","type":"ui_group","name":"🔍 Detective Analysis","tab":"kyoko-ui-tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"inject-start","type":"inject","z":"simple-demo-tab","name":"Click to Test Character","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"Industrial sensor data: temperature=75.2°C, pressure=2.3bar","payloadType":"str","x":180,"y":100,"wires":[["character-function"]]},{"id":"character-function","type":"function","z":"simple-demo-tab","name":"Character Intelligence","func":"// Get the current character from environment\nconst character = env.get('CHARACTER') || 'Unknown';\nconst timestamp = new Date().toISOString();\n\n// Character-specific processing logic\nlet analysis = {};\n\nswitch(character.toLowerCase()) {\n    case 'kyoko':\n        analysis = {\n            character: '🎯 Kyoko Kirigiri',\n            approach: 'Detective Analysis',\n            insight: 'Anomaly detected in temperature readings - investigating pattern',\n            confidence: '95%',\n            action: 'Initiating root cause analysis'\n        };\n        break;\n        \n    case 'byakuya':\n        analysis = {\n            character: '💰 Byakuya Togami',\n            approach: 'Efficiency Optimization',\n            insight: 'Process efficiency at 87% - optimization opportunities identified',\n            roi: '+23% potential improvement',\n            action: 'Implementing strategic efficiency protocols'\n        };\n        break;\n        \n    case 'chihiro':\n        analysis = {\n            character: '💻 Chihiro Fujisaki',\n            approach: 'Data Processing',\n            insight: 'Complex data patterns normalized and integrated successfully',\n            algorithms: 'Advanced ML processing applied',\n            action: 'Optimizing data pipeline architecture'\n        };\n        break;\n        \n    case 'celestia':\n        analysis = {\n            character: '👑 Celestia Ludenberg',\n            approach: 'Risk Assessment',\n            insight: 'Risk probability calculated at 34% - mitigation strategies prepared',\n            strategy: 'Adaptive response protocols',\n            action: 'Implementing probabilistic controls'\n        };\n        break;\n        \n    case 'sakura':\n        analysis = {\n            character: '💪 Sakura Ogami',\n            approach: 'Reliability Testing',\n            insight: 'System durability verified - 99.9% uptime target maintained',\n            strength: 'High stress tolerance confirmed',\n            action: 'Continuous reliability monitoring active'\n        };\n        break;\n        \n    default:\n        analysis = {\n            character: '❓ Unknown Character',\n            approach: 'Standard Processing',\n            insight: 'Basic industrial data processing completed',\n            status: 'Operational',\n            action: 'Standard monitoring protocols'\n        };\n}\n\nmsg.payload = {\n    original_data: msg.payload,\n    timestamp: timestamp,\n    processed_by: analysis.character,\n    analysis: analysis\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["character-output","dashboard-display"]]},{"id":"character-output","type":"debug","z":"simple-demo-tab","name":"Character Analysis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"dashboard-display","type":"template","z":"simple-demo-tab","name":"Character Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; margin: 10px; font-family: Arial, sans-serif;\">\n    <h2>{{payload.analysis.character}} Industrial Analysis</h2>\n    <div style=\"background: rgba(255,255,255,0.1); padding: 15px; border-radius: 8px; margin: 10px 0;\">\n        <h3>📊 {{payload.analysis.approach}}</h3>\n        <p><strong>Insight:</strong> {{payload.analysis.insight}}</p>\n        <p><strong>Action:</strong> {{payload.analysis.action}}</p>\n        <p><strong>Timestamp:</strong> {{payload.timestamp}}</p>\n    </div>\n    <div style=\"background: rgba(255,255,255,0.1); padding: 10px; border-radius: 5px; font-size: 12px;\">\n        <strong>Original Data:</strong> {{payload.original_data}}\n    </div>\n</div>","output":"str","x":660,"y":120,"wires":[["html-output"]]},{"id":"html-output","type":"debug","z":"simple-demo-tab","name":"Dashboard HTML","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"auto-timer","type":"inject","z":"simple-demo-tab","name":"Auto Test (every 60s)","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Automated industrial monitoring data","payloadType":"str","x":190,"y":140,"wires":[["character-function"]]},{"id":"data-inject","type":"inject","z":"kyoko-dashboard-tab","name":"🔍 Start Investigation","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Industrial Investigation Data","payloadType":"str","x":160,"y":100,"wires":[["kyoko-analysis"]]},{"id":"kyoko-analysis","type":"function","z":"kyoko-dashboard-tab","name":"🔍 Detective Analysis Engine","func":"// Kyoko's Detective Analysis System\nconst timestamp = new Date();\nconst character = '🔍 Kyoko Kirigiri';\n\n// Simulate industrial sensor data for investigation\nconst sensors = {\n    temperature: 75 + (Math.random() - 0.5) * 20,\n    pressure: 2.3 + (Math.random() - 0.5) * 0.8,\n    vibration: Math.random() * 5,\n    flow_rate: 150 + (Math.random() - 0.5) * 30,\n    power: 500 + Math.random() * 100\n};\n\n// Detective analysis - look for anomalies\nconst anomalies = [];\nlet suspicionLevel = 0;\n\nif (sensors.temperature > 85 || sensors.temperature < 65) {\n    anomalies.push(`Temperature anomaly: ${sensors.temperature.toFixed(1)}°C`);\n    suspicionLevel += 30;\n}\n\nif (sensors.pressure > 3.0 || sensors.pressure < 1.8) {\n    anomalies.push(`Pressure anomaly: ${sensors.pressure.toFixed(2)} bar`);\n    suspicionLevel += 25;\n}\n\nif (sensors.vibration > 3.5) {\n    anomalies.push(`High vibration detected: ${sensors.vibration.toFixed(1)}`);\n    suspicionLevel += 20;\n}\n\nif (sensors.flow_rate < 120 || sensors.flow_rate > 180) {\n    anomalies.push(`Flow rate irregular: ${sensors.flow_rate.toFixed(1)} L/min`);\n    suspicionLevel += 15;\n}\n\n// Kyoko's investigation conclusion\nlet investigation_status;\nlet confidence;\nlet recommendation;\n\nif (suspicionLevel > 50) {\n    investigation_status = \"🚨 CRITICAL EVIDENCE FOUND\";\n    confidence = \"95%\";\n    recommendation = \"Immediate investigation required - multiple anomalies detected\";\n} else if (suspicionLevel > 25) {\n    investigation_status = \"⚠️ Suspicious Activity\";\n    confidence = \"85%\";\n    recommendation = \"Monitor closely - evidence suggests irregularities\";\n} else if (suspicionLevel > 0) {\n    investigation_status = \"🔍 Minor Evidence\";\n    confidence = \"70%\";\n    recommendation = \"Continue observation - slight deviations noted\";\n} else {\n    investigation_status = \"✅ No Evidence of Irregularities\";\n    confidence = \"90%\";\n    recommendation = \"Systems operating within normal parameters\";\n}\n\n// Prepare dashboard data\nconst analysis = {\n    character: character,\n    timestamp: timestamp.toISOString(),\n    investigation: {\n        status: investigation_status,\n        confidence: confidence,\n        suspicion_level: suspicionLevel,\n        evidence_count: anomalies.length,\n        recommendation: recommendation\n    },\n    sensor_data: {\n        temperature: Math.round(sensors.temperature * 10) / 10,\n        pressure: Math.round(sensors.pressure * 100) / 100,\n        vibration: Math.round(sensors.vibration * 10) / 10,\n        flow_rate: Math.round(sensors.flow_rate * 10) / 10,\n        power: Math.round(sensors.power * 10) / 10\n    },\n    evidence: anomalies,\n    case_notes: \"Detective analysis complete. All evidence catalogued and assessed.\"\n};\n\n// Send to different outputs\nmsg.payload = analysis;\nmsg.topic = \"kyoko_investigation\";\n\n// For dashboard display\nmsg.ui_data = {\n    status: investigation_status,\n    confidence: confidence,\n    evidence_count: anomalies.length,\n    temperature: sensors.temperature.toFixed(1),\n    pressure: sensors.pressure.toFixed(2),\n    vibration: sensors.vibration.toFixed(1),\n    suspicion: suspicionLevel\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["debug-analysis","ui-status","ui-gauge-suspicion","ui-chart-sensors","ui-text-evidence"]]},{"id":"debug-analysis","type":"debug","z":"kyoko-dashboard-tab","name":"🔍 Investigation Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":60,"wires":[]},{"id":"ui-status","type":"ui_text","z":"kyoko-dashboard-tab","group":"kyoko-ui-group","order":1,"width":"12","height":"2","name":"Investigation Status","label":"🔍 Current Investigation Status","format":"{{msg.ui_data.status}} (Confidence: {{msg.ui_data.confidence}})","layout":"row-spread","x":730,"y":100,"wires":[]},{"id":"ui-gauge-suspicion","type":"ui_gauge","z":"kyoko-dashboard-tab","name":"Suspicion Level","group":"kyoko-ui-group","order":2,"width":"6","height":"4","gtype":"gage","title":"🚨 Suspicion Level","label":"%","format":"{{msg.ui_data.suspicion}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","x":720,"y":140,"wires":[]},{"id":"ui-chart-sensors","type":"ui_chart","z":"kyoko-dashboard-tab","name":"Sensor Evidence","group":"kyoko-ui-group","order":3,"width":"6","height":"4","label":"📊 Sensor Evidence Timeline","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Evidence Yet","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":180,"wires":[[]]},{"id":"ui-text-evidence","type":"ui_text","z":"kyoko-dashboard-tab","group":"kyoko-ui-group","order":4,"width":"12","height":"3","name":"Evidence List","label":"📋 Evidence Collected","format":"{{msg.payload.evidence.length > 0 ? msg.payload.evidence.join('<br>') : 'No anomalies detected - all systems normal'}}","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"sensor-data-splitter","type":"function","z":"kyoko-dashboard-tab","name":"📊 Sensor Data Formatter","func":"// Format sensor data for chart display\nconst sensors = msg.payload.sensor_data;\nconst timestamp = new Date();\n\n// Create multiple messages for different sensor readings\nconst messages = [];\n\n// Temperature data\nmessages.push({\n    payload: sensors.temperature,\n    topic: \"Temperature\",\n    timestamp: timestamp\n});\n\n// Pressure data\nmessages.push({\n    payload: sensors.pressure * 10, // Scale for better visibility\n    topic: \"Pressure x10\",\n    timestamp: timestamp\n});\n\n// Vibration data\nmessages.push({\n    payload: sensors.vibration * 15, // Scale for better visibility\n    topic: \"Vibration x15\",\n    timestamp: timestamp\n});\n\nreturn [messages];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["ui-chart-sensors"]]},{"id":"manual-trigger","type":"ui_button","z":"kyoko-dashboard-tab","name":"New Investigation","group":"kyoko-ui-group","order":5,"width":"6","height":"1","passthru":false,"label":"🔍 Start New Investigation","tooltip":"Click to begin a new detective analysis","color":"","bgcolor":"","icon":"","payload":"Manual Investigation Triggered","payloadType":"str","topic":"manual_investigation","x":170,"y":180,"wires":[["kyoko-analysis"]]},{"id":"case-notes","type":"ui_template","z":"kyoko-dashboard-tab","group":"kyoko-ui-group","name":"Detective Notes","order":6,"width":"12","height":"4","format":"<div style=\"background: linear-gradient(135deg, #4B0082, #6A0572); color: white; padding: 15px; border-radius: 8px; font-family: 'Courier New', monospace;\">\n    <h3 style=\"margin: 0 0 10px 0; color: #FFD700;\">🔍 DETECTIVE CASE NOTES</h3>\n    <div ng-bind-html=\"msg.payload.case_notes\" style=\"font-size: 14px; line-height: 1.4;\"></div>\n    <hr style=\"border-color: #FFD700; margin: 10px 0;\">\n    <div style=\"font-size: 12px; opacity: 0.8;\">\n        <strong>Case Officer:</strong> {{msg.payload.character}}<br>\n        <strong>Investigation Time:</strong> {{msg.payload.timestamp | date:'medium'}}<br>\n        <strong>Recommendation:</strong> {{msg.payload.investigation.recommendation}}\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":260,"wires":[[]]}]